*{
padding: 0;
margin: 0;
box-sizing: border-box;
}

.container{
  width:1200px;
  margin:0 auto;
}
header{
  background-color: blue;
  height:500px;
}
.header-top{
  position:relative;
  border:1px solid red;
  height:400px;
  background-image: url("../img/image.png");
  background-position:top;
  background-repeat: no-repeat;
  background-size: cover;
}
.top-layout{

  width:90%;
  margin:0 auto;
}
ul{
  list-style: none;
}

nav{
  display:inline-block;
    margin-left: 150px;
}

nav>ul>li{
  display:inline-block;
}
.middle{
  width:400px;
  border:1px solid red;
  position:absolute;
  top:50%;
  transform:translate(,-50%);
}
h1{
  color: #fff;
}
.header-bottom{position:relative;
height:100px;}
.bottom-layout{
width:60%;
position:absolute;
left:50%;
top:50%;
transform: translate(-50%,-50%);
}

h3,p{
  text-align: center;
}

main{
  width:100%;
}
.clearfix::after{
  clear:both;
  display:table;
  content:"";
}
.fl{
  float:left;
}
.col-4{
  width:calc(100%/3);
  height:400px;
  background-color: red;
  border:1px solid black;
}
.col-6{
  width:calc(100%/2);
  height:400px;
  background-color: green;
  border:1px solid grey;
}
.main-top,.main-bottom{
  width:90%;
  margin:0 auto;
}
